@font-face {
    font-family: "Futura-Condensed-PT";
    src: url("futura-condensed-pt-cufonfonts/futura-pt-demibold-589e43b852117.otf");
}

h2 {
    font-family: Futura-Condensed-PT, serif;
    text-align: center;
    color: white;
    margin-top: 250px;

}

body {
    background : url("strong-ladies.jpg") no-repeat center center fixed;
    background-size: cover;

}

.time {
    width: 175px;
    height: 175px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-left: 75px;
    box-shadow: 3px 3px 5px rgba(37,37,37,0.3);
    color: #848383;
    line-height: 175px;
    text-align: center;
    font-size: 44px;
    font-family: Futura-Condensed-PT, serif;
}

.time:first-of-type {
    margin-left: 0;
}

#circle {
    text-align: center;
}

.text {

    font-family: Futura-Condensed-PT, serif;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 28px;

}

.box {
    margin-left: 75px;
    display: inline-block;

}

.box:first-of-type {
    margin-left: 0;

}

#logo {
    height: 50px;
    width: 50px;
    background-color: black;
}

img {
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-right: 15px;
    text-align: center;
    margin-left: 15px;
}

img:hover {
    cursor: pointer;
}

.info {
    font-weight: bold;
    display: inline-block;
    font-size: 24px;
    color: white;
}

#test {
    text-align: center;
    display: block;


}

#test:first-of-type {
    margin-left: 0;
}