body{
     background-image: url(strong-ladies.jpg);
     background-size: 1400px;


}

.container{
    margin-top: 15%;
    margin-left: 25%;
    font-size: 35px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}








